.piedra {
    font-weight: bold;
}
.odio {
    font-weight: bold;
}
.sub {
    background-color: #fffb2b;
    font-style: italic;
}
.text2 {
    text-transform: uppercase;
    font-size: 20px
}
.volver{
    color: #000000;
    text-decoration: none;
}
