img {
	aspect-ratio: 1 / 1;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
}
.p1 {
    background-color: aquamarine ;
}
.p2 {
    background-color: rgb(173, 216, 253);
}
.time {
    text-align: right;
}