body{
    text-align: center;
}
.titu{
    margin-top: 128px;
    margin-bottom: 64px;
}
.par{
    margin-bottom: 64px;
}
.titu2{
    margin-top: 256px;
    margin-bottom: 64px;
}
.par2{
    margin-bottom: 64px;
}
.volver{
    color: #000000;
    text-decoration: none;
}