@font-face{
  font-family: "font";
  src: url("../font/CODE Light.otf")
}
@font-face{
  font-family: "fontb";
  src: url("../font/CODE Bold.otf")
}
.link_menu {
  margin-block: 6rem;
  padding: 7px;
  border: 1.5px solid rgb(161, 161, 161);
  border-radius: 10px;
  }
.link_menu {
    font-size: 24px;
    font-family: "fontb";
    margin-left: 362px;
}
.header {
    margin-bottom: 200px;
    border-bottom: 2px solid rgb(165, 165, 165);
    margin-top: 25px;
}
.pek {
  margin-bottom: 250px;
  font-size:24px;
}
.mycontainer {
  width:100%;
  overflow:auto;
  border-top:2px solid rgb(165, 165, 165);
}
.mycontainer div {
  width:49%;
  float:left;
}
.body {
  color: #ffffff;
  font-family: "font";
  letter-spacing: 3px;
  background-color: #000000;
}
main {
  padding-left: 64px;
}
.a {
  color: #ffffff;
  text-decoration: none;
}
.contacte {
  padding-left: 37px;
}
.evg {
  font-family: "fontb";
  font-size:128px;
}
.act {
  margin-top: 128px;
  margin-bottom: 128px;
}
.cv {
  margin-bottom: 128px;
  font-size:64px;
}