@font-face{
    font-family: "font";
    src: url("../font/CODE Light.otf")
}
@font-face{
    font-family: "fontb";
    src: url("../font/CODE Bold.otf")
}
.link_menu {
    margin-block: 6rem;
    padding: 7px;
    border: 1.5px solid rgb(161, 161, 161);
    border-radius: 10px;
}
.link_menu {
      font-size: 24px;
      font-family: "fontb";
      margin-left: 362px;
}
.header {
      margin-bottom: 100px;
      border-bottom: 2px solid rgb(165, 165, 165);
      margin-top: 25px;
}
.body {
    color: #ffffff;
    font-family: "font";
    letter-spacing: 3px;
    background-color: #000000;
}
.a {
    color: #ffffff;
    text-decoration: none;
}
.contacte {
    padding-left: 37px;
}
.mycontainer div {
    width:49%;
    float:left;
}
.mycontainer {
    width:100%;
    overflow:auto;
    border-top:2px solid rgb(165, 165, 165);
}
.listasact {
    width: 32%;
    float:left;
}
.mycontainer2 div {
    width:49%;
    float:left;
}
.mycontainer2 {
    width:100%;
    overflow:auto;
    padding-left: 37px;
}
.minombre{
    margin-top: 175px;
    margin-bottom: 100px;
}
img{
    margin: 75px;
}
.container div {
    height: auto;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}